<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ristorante</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <div class="wrapper">
        <div id="topbar">
            <div id="logo">
                <img src="~/images/close-up-fresh-mint-leaves-removebg-preview.png" alt="logo">
            </div>
            <div id="menu">
                <ul>
                    <a asp-area="" asp-controller="Home" asp-action="Index" style="color:#ffa17a">"L'oasi del gusto"</a>
                    <a asp-area="" asp-controller="Home" asp-action="Piatti"> I nostri piatti</a>
                    <a asp-area="" asp-controller="Home" asp-action="Prenota">Dove siamo<br> Prenota online</a>
                </ul>
                <div id="logindiv">
                    @*<form id="logform" method="post">
                        <i class="fa fa-user"></i>
                        <input type="text" id="username" placeholder="username" name="username">
                        <i class="fa fa-lock"></i>
                        <input type="password" id="password" placeholder="password" name="password">
                        <button type="submit" id="submit">Accedi</button>
                        <button id="registrati">Registrati</button>
                    </form>*@
                    @RenderSection("logindiv", false)
                </div>
            </div>
        </div>
        <main>
            <section id="smain">
                @*<h1>L'oasi del gusto</h1>
                <p>ristorante vegetariano</p>
                <p><a href="Piatti.html" target="_blank">scopri i nuovi sapori</a></p>*@
                @RenderBody()
            </section>
            <footer>
                <p id="contact">Contattaci</p>
                <p id="phone"><i class="fa fa-phone"></i> 0123 123456</p>
                <p><i class="fa fa-envelope"></i> mail@mail.com</p>
                <div id="social">
                    <a href="https://it-it.facebook.com/" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://twitter.com/login?lang=it" target="_blank"><i class="fa fa-twitter-square"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=393293333333" target="_blank"><i class="fa fa-whatsapp"></i></a>
            </footer>
        </main>
        <section id="map">
            @RenderSection("map",required:false)
            </section>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>